<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DSA Solutions</title>
    <meta name="description" content="Data Structures and Algorithms problems solutions">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" blocking href="https://unpkg.com/@yamori-design/styles/dist/global.css">
    <link rel="stylesheet" blocking href="https://unpkg.com/@yamori-design/styles/dist/vanilla.css">
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <ul>
      <li><h6>Solutions</h6>
        #solutions#
      </li>
      <li><h6>Utils</h6>
        #utils#
      </li>
    </ul>
  </body>
</html>