<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>#pageTitle# • DSA Solutions</title>
    <meta name="description" content="Data Structures and Algorithms problems solutions">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" blocking href="https://unpkg.com/@yamori-design/styles/dist/global.css">
    <link rel="stylesheet" blocking href="https://unpkg.com/@yamori-design/styles/dist/vanilla.css">
    <link rel="stylesheet" href="index.css">
    <link href="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/styles/dark.min.css" media="(prefers-color-scheme: dark)" rel="stylesheet">
    <link href="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/styles/default.min.css" media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)" rel="stylesheet">
    <script src="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/highlight.min.js"></script>
    <script src="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/languages/typescript.min.js"></script>
    <script>hljs.highlightAll();</script>
  </head>
  <body>
    <article>
      <h3>#title#</h3>
      <p><a href="#link#" target="_blank">Link to problem</a></p>
      <h4>Solution</h4>
      <pre><code>
#solution#
      </code></pre>
#imports#
    </article>
  </body>
</html>